@import '../../styles/colors.css';

.sideBar {
    background-color: var(--color-blue-background);
    z-index: 1000;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all .7s;
    position: relative;
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    flex: 0 0 270px;
    overflow: hidden;
}

.banner {
    background-color: var(--color-dark-blue);
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-blue-selected);
}

.swaggerSearch {
    padding: 18px 15px;
}

.swaggerSearch .inputWrapper {
    background-color: var(--color-dark-blue);
    border-radius: 10px;
    height: 42px;
    display: flex;
    align-items: center;
    border: 1.5px solid var(--color-blue-selected);
}
.swaggerSearch .inputWrapper--disabled {
    background-color: var(--color-disabled-gray-background);
    cursor: not-allowed;
}

.swaggerSearch .inputWrapper .searchIcon {
    color: var(--color-gray-background);
    margin: 0 5px 0 15px;
    font-size: 14px;
}
.swaggerSearch .inputWrapper--disabled .searchIcon {
    color: var(--color-blue-disabled);
}

.swaggerSearch .inputWrapper input {
    background: none;
    border: none;
    color: var(--color-gray-background);
    outline: none;
    font-size: 14px;
}
.swaggerSearch .inputWrapper input:disabled {
    cursor: not-allowed;
}

.swaggerSearch .inputWrapper input::placeholder {
    color: var(--color-white-text);
    font-size: 13px;
}

.swaggerSearch .inputWrapper--disabled input::placeholder {
    color: var(--color-blue-disabled);
}

.navigation {
    padding-bottom: 25px;
    height: 100%;
    overflow-y: scroll;
}

.navigation .swagger {
    color: var(--color-white-text);
    padding: 21px 35px;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-bottom: 1px solid var(--color-blue-selected);
    transition: all 0.15s;
}

.navigation .swagger:first-child {
    border-top: 1px solid var(--color-blue-selected);
}

.navigation .swagger:hover , .navigation .swagger.selectedSwagger {
    background-color: var(--color-blue-selected);
}

.alias {
  font-weight: 400;
  color: var(--color-green-default);
  margin-right: 7px;
}