.swagger-ui {
    width: 100%;
}

.swagger-ui .info {
    margin: 0;
}

.swagger-ui .scheme-container{
    background: inherit;
    box-shadow: inherit;
}

.swagger-ui section.models {
    background: #ffffff33;
}

.swagger-ui .base-url, 
.swagger-ui .scheme-container {
  display: none;
}