:root {
    --color-white-background: #f0f0f0;
    --color-white-text: #f4f7ff;
    
    --color-dark-blue: #09192f;
    --color-blue-background: #0a1f3b;
    --color-blue-hover: #f0f0f0;
    --color-blue-border: #1f3453;
    --color-blue-disabled: #4a566d;

    --color-disabled-gray-background: #f0f0f0a1;
    --color-dark-gray: #5e5e5e;
  }